
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* making navigation */

nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #333333;
}

button{
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #1e7e34;
}

/* making banner */

.banner .banner-container{
    width: 85%;
    max-width: 1360;
    margin: 0 auto;
    text-align: center;
    animation: bannertextslide 1.3s forwards;
}
.early-open{
    max-width: 229px;
    margin: 0 auto;
    height: 36px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.banner{
    margin-top: 16px;
    padding-top: 115px;
    padding-bottom: 180px;
    background: url(assets/hero-bg.png);
}

.banner-container h1{
    font-size: 72px;
    font-weight: 700;
}

.banner-container h2{
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner-container p{
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.second-btn{
    display: flex;
    align-items: center;
    gap: 5px;
}

.third-button{
    background-color: #504e4e00;
    border: 1px solid white;
    
}

.banner-container .btn{
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* cards section */


.card-section{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}



.card-section .card-text h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-top: 45px;
} 

.card-section .card-text p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.card-section .card-container{
    display: flex;
    gap: 24px;
    
}

.card {
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.14);
}

.card .img-container{
    height: 60px;
    width: 60px;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    border-radius: 100%;
    margin-top: 69.5px;
    margin-bottom: 16px;
}

.card h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;

}

.card p{
    font-size: 16px;
    line-height: 20px;
    color:#627382;
    margin: 0 24px 69.5px 24px;
}


/* knowledge section */

.brain{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 120px;
}

.brain .brain-container{
    display: flex;
    gap: 60px;
}

.brain .brain-text{
    margin-top: 101.5px;
    
}

.brain-container .brain-text .solution{
    color: #30B868;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

.brain-container .brain-text h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.brain-container .brain-text .primary-p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.brain-text .four-items{
    display: flex;
    margin-bottom: 16px;
}

.brain-text .checkbox{
    font-size: 16px;
    font-weight: 500;
    color: black;
}


@keyframes bannertextslide {
    0%{
        transform: translateX(-150px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}



